body {
    font-family: Arial;
}

.ui-card-body {
	border: 1px solid #eee;
}

.main {
	   margin: 50px;
}

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.2em;
}

#map {
	height: 400px;
 	width: 400px;
 	margin-bottom: 25px;
 }


#kopf_links {
    float: left;
    margin: 5px;
    margin-right: 20px;
}

#kopf_rechts {
    height: 130px;
}

/*
table#geisternetz {
        width: 95%;
        background-color: lightgrey;
        margin-left:30px;
        border-spacing: 23px;
        border: inset 1px;
}

table#geisternetz th {
        color: white;
        background-color: black;
        font-size:120%;
}

table#geisternetz td {
        font-variant: small-caps;
        border: inset 1px;
}

td.spalte1 {
        background-color: lightblue;
}
*/
p#fussnote {
    font-size: 0.7em;
}

table.geisternetz {
    border-collapse: collapse;
}

th, td {
    padding: 3px;
}

th {
    text-align: left;
    background-color: #CCC;
}

tr.ungerade {
    background-color: #EEE;
}

tr.gerade {
    background-color: #FFF;
}

td.nr {
    background-color: lightblue;
}


.mb {
	margin-bottom: 20px;
}

.mt-10 {
	margin-top:10px;
}

.note {
	font-size:smaller;
}

.block {
	display:block;
}

.ui-linkbutton a {
	text-decoration: none;
}

#loginForm {
	width: 50vw;
	border: 1px solid #eee;
	padding: 20px;
	background-color: #eee;
}

#loginForm .ui-panelgrid-cell {
	background-color: #eee;
}